    visibility: inherit;
    --dark-heading: #1b232e;
    --secondary-dark-grey: #363636;
    --grey: #2d3941;
    --paragraph-text: #465159;
    --breadcrumb: #5d676e;
    --minor-grey: #747c82;
    --dark-grey-2: #444f57;
    --grey-border: #b3bdc0;
    --grey-border-2: #adaeb1;
    --grey-bg: #f1f8f8;
    --white: #fff;
    --pill: #f0f4f7;
    --bg-light-grey: #fafafd;
    --light-grey-border: #d6d6d6;
    --light-grey-3: #eff2fc;
    --level-background: #f8f9fa;
    --discover-border: #dce0e5;
    --light-grey-4: #f3f6f7;
    --light-grey-5: #d2d8de;
    --discover-blue: #008fc3;
    --border-blue: #c5eaff;
    --breadcrumb-blue: #016c94;
    --intro-blue: #1581af;
    --light-blue: #0091c7;
    --pale-blue: #f0f9fb;
    --heading-text: #1e2d40;
    --blue-2: #0389b9;
    --light-blue-2: #def1f7;
    --alison-green: #009b5d;
    --alt-green: #007646;
    --pale-green: #ebf5db;
    --hover-green: #008952;
    letter-spacing: 0;
    cursor: pointer;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;